conda.enabled = true
conda.useMamba = true

conda.cacheDir = "./pipelines/conda_envs"

// report
report.enabled = true
report.file = './library_generation_nextflow.html'
report.overwrite = true

// cleanup
cleanup = true

// params
params.publishdir = "/output"
params.cachelibrariesdir = "/output/library_summaries"